html {
  background-image: url(https://66.media.tumblr.com/04ff549b92bb99db8ad725a83e288030/tumblr_inline_n258pty5wY1qhwjx8.gif);
  padding-left: 30px;
  padding-right: 30px;
}

.back {
  background-image: url(https://i.pinimg.com/originals/65/4d/94/654d946e7b573c0b3cc9f91cc276326d.gif);
  opacity: 0.6;
  filter: alpha(opacity=50);
  padding: 1px;
}

.head {
  color: #ffffff;
  font-family: monospace;
  font-size: 65%;
  font-size-adjust: auto;
}

button {
  background-color: #ffffff;
  opacity: 0.3;
  filter: alpha(opacity=50);
  padding: 1px;
}

h2.oho {
  font-family: 'Literata', serif;
  font-family: 'Gentium Basic', serif;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Libre Barcode 128 Text', cursive;
font-size: 350%;

}

h2 {
    font-family: 'Literata', serif;
    font-family: 'Gentium Basic', serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 135%;

}

body {
  font-family: georgia;
  font-size:18px;
}

* {box-sizing:border-box}

.slideback {
  max-width: 600px;
  max-height: 600px;
  background-image: url(https://media1.giphy.com/media/ZH82yukB6v8xq/source.gif);
  opacity: 0.6;
  filter: alpha(opacity=50);
  padding: 1px;
  position: relative;
  margin: auto;
}

.slideshow-con {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.slides-fade {
  display: block;
  align-items: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: right;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  /* text-align: right; */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Literata', serif;
  font-family: 'Gentium Basic', serif;
  font-family: 'Press Start 2P', cursive;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.activa {
  color: white;
  background-color: #868687;
}

.collapsible {
  background-image: url(https://media1.giphy.com/media/ZH82yukB6v8xq/source.gif);
  padding-top: 5px;
  padding-bottom: 5px;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  opacity: 0.6;
  filter: alpha(opacity=50);
}

.owo:after {
  content: '\002B';
  color: white;
  float: right;
  margin-right: 10px;
}

/* .qwq:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */

.content {
  padding: 0 18px;
  /* display: none; */
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: rgba(255,255,255,0.6);
}

button {
  background-image: url(https://media1.giphy.com/media/ZH82yukB6v8xq/source.gif);
  padding-top: 5px;
  padding-bottom: 5px;
}
